<!DOCTYPE html>

<html lang="en">

    <head>

        {# Site Title #}
        <title>Talent Cloud: Manager Job Index States</title>
        
        {# Charset #}
        <meta charset="utf-8" />

        {# Compatibility #}
        <meta
            http-equiv="X-UA-Compatible"
            content="IE=edge">

        {# Viewport #}
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0">

        {# Generic Google Fonts #}
        <link
            href="https://fonts.googleapis.com/css?family=Euphoria+Script|Open+Sans:400,400i,600,600i,800,800i&amp;subset=latin-ext"
            rel="stylesheet">

        {# Material Icons #}
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">

        {# Your CSS #}
        <link 
            async 
            href="$ROOT/css/app.css"
            rel="stylesheet">

        {# Favicons #}
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#b91d47">
        <meta name="msapplication-TileColor" content="#b91d47">
        <meta name="theme-color" content="#b91d47">

    </head>

    {# Playground's Body #}
    <body data-clone>
        
        <div data-c-background="gray(10)" data-c-padding="tb(triple)">

            <div data-c-container="large">

                {% set myJobs = {
                    "0": {
                        "type": "hm",
                        "attention": false,
                        "hrTime": 0,
                        "hmTime": 0,
                        "tcTime": 0,
                        "title": "Front-end Developer",
                        "classification": "CS01",
                        "manager": "Rebecca Appleby",
                        "created": "2019-MAY-02",
                        "published": null,
                        "closed": null,
                        "status": "draft",
                        "advisers": {}
                    },
                    "1": {
                        "type": "hm",
                        "attention": true,
                        "hrTime": 12,
                        "hmTime": 8,
                        "tcTime": 3,
                        "title": "Cupcake Baker",
                        "classification": "BK01",
                        "manager": "Cassandra Kane",
                        "created": "2019-FEB-13",
                        "published": null,
                        "closed": null,
                        "status": "in review",
                        "advisers": {}
                    },
                    "2": {
                        "type": "hm",
                        "attention": false,
                        "hrTime": 4,
                        "hmTime": 3,
                        "tcTime": 1,
                        "title": "Business Analyst",
                        "classification": "EY02",
                        "manager": "Franklin Morrison",
                        "created": "2019-JUN-23",
                        "published": "2019-DEC-21",
                        "closed": "2020-JAN-04",
                        "status": "approved",
                        "advisers": {}
                    },
                    "3": {
                        "type": "hm",
                        "attention": false,
                        "hrTime": 2,
                        "hmTime": 2,
                        "tcTime": 4,
                        "title": "Technical Adviser",
                        "classification": "GR02",
                        "manager": "Rebecca Appleby",
                        "created": "2019-MAY-02",
                        "published": "2019-DEC-21",
                        "closed": "2020-JAN-04",
                        "status": "published",
                        "advisers": {}
                    },
                    "4": {
                        "type": "hm",
                        "attention": true,
                        "hrTime": 12,
                        "hmTime": 8,
                        "tcTime": 3,
                        "title": "Talent Management Expert",
                        "classification": "BS01",
                        "manager": "Cassandra Kane",
                        "created": "2019-FEB-13",
                        "published": "2019-DEC-21",
                        "closed": "2020-JAN-04",
                        "status": "closed",
                        "advisers": {}
                    },
                    "5": {
                        "type": "hm",
                        "attention": false,
                        "hrTime": 4,
                        "hmTime": 3,
                        "tcTime": 2,
                        "title": "Currency Expert",
                        "classification": "LK08",
                        "manager": "Franklin Morrison",
                        "created": "2019-JUN-23",
                        "published": "2019-DEC-21",
                        "closed": "2020-JAN-04",
                        "status": "complete",
                        "advisers": {}
                    }
                } %}
                {% for job in myJobs %}
                    {% include "templates/job-action.twig" with {"job": job} %}
                {% endfor %}

            </div>

        </div>

        {# Clone's JavaScript #}
        <script src="$ROOT/js/clone/clone.min.js"></script>

        {# Your JavaScript #}
        <script src="$ROOT/js/app.js"></script>

    </body>

</html>
