<!DOCTYPE html>

<html lang="en">

    <head>

        {# Site Title #}
        <title>Talent Cloud: HR Adviser Dashboard</title>
        
        {# Charset #}
        <meta charset="utf-8" />

        {# Compatibility #}
        <meta
            http-equiv="X-UA-Compatible"
            content="IE=edge">

        {# Viewport #}
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0">

        {# Generic Google Fonts #}
        <link
            href="https://fonts.googleapis.com/css?family=Euphoria+Script|Open+Sans:400,400i,600,600i,800,800i&amp;subset=latin-ext"
            rel="stylesheet">

        {# Material Icons #}
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">

        {# Your CSS #}
        <link 
            async 
            href="$ROOT/css/app.css"
            rel="stylesheet">

        {# Favicons #}
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#b91d47">
        <meta name="msapplication-TileColor" content="#b91d47">
        <meta name="theme-color" content="#b91d47">

    </head>

    {# Playground's Body #}
    <body data-clone>
        
        <div data-c-overlay="black(90)" data-c-padding="tb(triple)" style="background-image: url('https://images.unsplash.com/photo-1556742400-b5b7c5121f99?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');">
            <div data-c-container="large" data-c-align="base(center) tl(left)">
                <h1 data-c-font-size="h2" data-c-color="white">Job Dashboard</h1>
                <div data-c-color="white" data-c-margin="top(double)">
                    <nav
                        aria-label="breadcrumb"
                        data-c-breadcrumbs>
                        <ol>
                            <li>
                                <a
                                    href="#link-to-page"
                                    title="This is the title of the page link.">
                                    Talent Cloud
                                </a>
                                <i class="material-icons">arrow_right</i>
                            </li>
                            <li>
                                <span aria-current="page">Job Dashboard</span>
                                <i class="material-icons">arrow_right</i>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <div data-c-background="gray(10)">
            <div data-c-container="large" data-c-padding="tb(triple)">
                <p>Welcome! Introductory copy that explains how this page works, and what an HR adviser needs to do to claim a job action as their own. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium ducimus laboriosam sequi, quis autem minima esse quasi aspernatur vero provident quos eligendi, ea officia exercitationem. Obcaecati impedit quae veritatis corrupti!</p>
                <h2 data-c-font-size="h2" data-c-margin="top(triple) bottom(normal)">My Job Actions<h2>
                <p data-c-margin="bottom(double)">This is a list of all job actions you are currently participating in. Looking for an older job? Check the "My Completed Job Actions" section below your active jobs.</p>
                {% set myJobs = {
                    "0": {
                        "type": "hr",
                        "attention": true,
                        "hrTime": "2 Days",
                        "hmTime": "2 Days",
                        "title": "Front-end Developer",
                        "classification": "CS01",
                        "manager": "Rebecca Appleby",
                        "created": "2019-MAY-02",
                        "status": "in review",
                        "advisers": {}
                    },
                    "1": {
                        "type": "hr",
                        "attention": false,
                        "hrTime": "12 Days",
                        "hmTime": "8 Days",
                        "title": "Cupcake Baker",
                        "classification": "BK01",
                        "manager": "Cassandra Kane",
                        "created": "2019-FEB-13",
                        "status": "published",
                        "advisers": {}
                    },
                    "2": {
                        "type": "hr",
                        "attention": false,
                        "hrTime": "4 Days",
                        "hmTime": "3 Days",
                        "title": "Business Analyst",
                        "classification": "EY02",
                        "manager": "Franklin Morrison",
                        "created": "2019-JUN-23",
                        "status": "in review",
                        "advisers": {}
                    }
                } %}
                {% for job in myJobs %}
                    {% include "../templates/job-action.twig" with {"job": job} %}
                {% endfor %}
                <div data-c-accordion-group data-c-margin="top(triple)">
                    <div
                        data-c-accordion>
                        <button
                            aria-expanded="false"
                            data-c-accordion-trigger
                            tabindex="0"
                            type="button">
                            <div>
                                <h3 data-c-font-size="h3" data-c-color="c3">My Completed Job Actions</h3>
                            </div>
                            <span data-c-visibility="invisible">
                                Click to view...
                            </span>
                            <p data-c-accordion-add data-c-font-style="underline" data-c-color="c2">Show</p>
                            <p data-c-accordion-remove data-c-font-style="underline" data-c-color="c2">Hide</p>
                        </button>
                        <div
                            aria-hidden="true"
                            data-c-accordion-content
                            data-c-padding="top(double)">
                            <div>
                                {% set myComJobs = {
                                    "0": {
                                        "type": "hr",
                                        "attention": false,
                                        "hrTime": "13 Days",
                                        "hmTime": "4 Days",
                                        "title": "Back-end Technician",
                                        "classification": "CS03",
                                        "manager": "Rebecca Appleby",
                                        "created": "2019-FEB-15",
                                        "status": "complete",
                                        "advisers": {}
                                    },
                                    "1": {
                                        "type": "hr",
                                        "attention": false,
                                        "hrTime": "10 Days",
                                        "hmTime": "6 Days",
                                        "title": "Integrated Researcher",
                                        "classification": "RE02",
                                        "manager": "Cassandra Kane",
                                        "created": "2019-NOV-13",
                                        "status": "complete",
                                        "advisers": {}
                                    },
                                    "2": {
                                        "type": "hr",
                                        "attention": false,
                                        "hrTime": "8 Days",
                                        "hmTime": "2 Days",
                                        "title": "Youth Manager",
                                        "classification": "YO02",
                                        "manager": "Franklin Morrison",
                                        "created": "2019-MAR-23",
                                        "status": "complete",
                                        "advisers": {}
                                    }
                                } %}
                                {% for job in myComJobs %}
                                    {% include "../templates/job-action.twig" with {"job": job} %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <hr data-c-margin="tb(triple)" data-c-hr="gray">
                <h2 data-c-font-size="h2" data-c-margin="top(triple) bottom(double)">All Jobs in Treasury Board of Canada Secretariat</h2>
                <p data-c-margin="bottom(double)">This is the list of all active job actions in your department. From here you can "claim" a job, which will move it into your jobs list above and allow you to begin working with the hiring manager on finding the best talent possible. If you claim a job by accident, no fear, for you can click into the job summary and remove yourself using the "Remove Myself From This Job" button.</p>
                <div data-c-grid="gutter">
                    {# Filters #}
                    {# <div data-c-input="button" data-c-grid-item="tl(1of2)">
                        <label for="WB2">Search by Manager Name</label>
                        <span>Required</span>
                        <div data-c-grid>
                            <input
                                data-c-grid-item="fit"
                                id="WB2"
                                placeholder="e.g. Clark Kent"
                                type="text"/>
                            <button
                                data-c-button="solid(c1)"
                                type="button">
                                Search
                            </button>
                        </div>
                        <span>This input has an error.</span>
                    </div>
                    <div data-c-input="select" data-c-grid-item="tl(1of4)">
                        <label for="SEL2">Filter by Classification</label>
                        <span>Required</span>
                        <div>
                            <i class="material-icons">
                                arrow_drop_down
                            </i>
                            <select id="SEL2">
                                <option disabled selected>Select a classification...</option>
                                <option>AS</option>
                                <option>CS</option>
                                <option>ET</option>
                                <option>FG</option>
                            </select>
                        </div>
                        <span>This input has an error.</span>
                    </div>
                    <div data-c-input="select" data-c-grid-item="tl(1of4)">
                        <label for="SEL2">Filter by Status</label>
                        <span>Required</span>
                        <div>
                            <i class="material-icons">
                                arrow_drop_down
                            </i>
                            <select id="SEL2">
                                <option disabled selected>Select a status...</option>
                                <option>Claimed</option>
                                <option>Unclaimed</option>
                            </select>
                        </div>
                        <span>This input has an error.</span>
                    </div> #}
                    {# Jobs #}
                    {% set depJobs = {
                        "0": {
                            "title": "Front-end Developer",
                            "classification": "CS01",
                            "manager": "Rebecca Appleby",
                            "created": "2019-MAY-02",
                            "status": "draft",
                            "advisers": {}
                        },
                        "1": {
                            "title": "Executive Assisstant",
                            "classification": "AS02",
                            "manager": "Jeanie Fereau",
                            "created": "2019-MAR-12",
                            "status": "published",
                            "advisers": {
                                "0": "Caitlyn Summers"
                            }
                        },
                        "2": {
                            "title": "Business Analyst",
                            "classification": "ET03",
                            "manager": "Robin Browne",
                            "created": "2019-DEC-02",
                            "status": "in review",
                            "advisers": {}
                        },
                        "3": {
                            "title": "Long-term Care Specialist",
                            "classification": "FG05",
                            "manager": "Braeden McDoogal",
                            "created": "2019-MAY-14",
                            "status": "draft",
                            "advisers": {
                                "0": "Caitlyn Summers",
                                "1": "Jack Little"
                            }
                        },
                        "4": {
                            "title": "Digital Product Designer",
                            "classification": "CS03",
                            "manager": "Amelie Lachance",
                            "created": "2019-JUL-24",
                            "status": "in review",
                            "advisers": {}
                        }
                    } %}
                    {% for job in depJobs %}
                        {% include "../templates/job-card.twig" %}
                    {% endfor %}
                </div>

            </div>
        </div>

        <div data-c-background="black(100)" data-c-padding="tb(triple)">
            <div data-c-container="large" data-c-align="base(center)">
                <h1 data-c-font-size="h2" data-c-font-weight="bold" data-c-color="white">FOOTER</h1>
            </div>
        </div>

        {# Clone's JavaScript #}
        <script src="$ROOT/js/clone/clone.min.js"></script>

        {# Your JavaScript #}
        <script src="$ROOT/js/app.js"></script>

    </body>

</html>
